.mainDiv{
    overflow-x: hidden;
}
.detailCard{
    height: 600px !important;
    margin: 15px;
    overflow:auto;
}
.longCard{
    margin: 15px;
    width: -webkit-fill-available !important;
}
.detailCardBody{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.9725140056022409) 0%, rgba(9,34,75,0.70640756302521) 87%);
}
.crousalData{
    margin: 25px;
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
  .buttonContainer > button{
    width: 200px;
    height: 50px;
    margin: 15px;
  }
  