body{
    overflow-x: hidden;
}
.spinnerStyle{
    width: 100px !important;
    height: 100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}